.control-buttons_width {
    width: 180px;
}

.MuiPaper-root.form-control.MuiPaper-elevation0.MuiPaper-rounded.control-buttons_width {
    max-width: 180px;
}

.edit-group-form {
    .form-control.textarea_heigth {
        resize: none;
        height: 156px;
    }

    .edit-group-form__friends-area.form-control {
        height: 156px;
        div {
            display: inline;
        }
        & > div {
            display: block;
            position: relative;
        }
    }
}
