.control-buttons_width {
    width: 180px;

}

.MuiPaper-root.form-control.control-buttons_width {
    max-width: 180px;
    overflow: auto;
}

.group-input-area.form-control {
    
    min-height: 62px;
    height: 100% ;
    div {
        display: inline;

    }
    & > div {
        display: block;
        position: relative;
    } 
}

hr {
    margin: 0;
}

.creating-area {
    overflow: "hidden";
    margin-bottom: 6px;
}