.slider-element.groups-area {
    width: 100%;
    max-width: 600px;
    position: relative;
    top: -253px;
    height: calc(100vh - 84px + 147px);
    margin-right: 10px;
    margin-top: 6px;

    .flex-center {
        margin-top: 7px;
    }

    .items-list {
        .reverse {
            display: flex;
            flex-direction: column-reverse;
        }

        overflow-y: scroll;
        overflow-x: hidden;
        height: calc(100% - 292px);

    }

    &.slideDown {
        top: 0;
        .items-list {
            height: calc(100% - 550px);
        }
    }
    .group-input-area.form-control.control-buttons_width,
    .form-control.textarea_heigth {
        resize: none;
        height: 156px;
    }

    &.slideDown {
        animation-name: groupsSlideDown;
        -webkit-animation-name: groupsSlideDown;

        animation-duration: 0.7s;
        -webkit-animation-duration: 0.7s;

        animation-timing-function: ease;
        -webkit-animation-timing-function: ease;

        visibility: visible !important;
    }

    &.slideUp {
        animation-name: groupsSlideUp;
        -webkit-animation-name: groupsSlideUp;

        animation-duration: 0.7s;
        -webkit-animation-duration: 0.7s;

        animation-timing-function: ease;
        -webkit-animation-timing-function: ease;

        visibility: visible !important;
    }
}

.groups__elements_flex {
    max-width: 1060px;
    width: 100%;
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.groups-card.card.card-body {

    .card-title {
        .users {
            width: 75px;
        }
    }

    .group-tags {
        width: 300px;
    }

    .card-item {
        min-height: 130px;
    }

    // .group-description {
    //     .description {
    //         width: 100%;
    //     }

        .active-tasks {
            width: 80px;
            text-align: center;

        }
    // }

    .custom-card__control-buttons {
        right: 83px;
    }
}

.flex-space-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.groups__details {
    max-width: 450px;
    width: 100%;
    height: calc(100vh - 84px);
    // display: flex;
    // flex-direction: column;
    // justify-content: center;

    .groups__group-info-area {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        // height: 100vh;
    
        .custom-card__control-buttons {
            right: 27px;
        }
    }
}

.invisible-wall {
    min-height: 20px;
    z-index: 2;
    position: absolute;
    background-color: #ffefd5;
    width: 100%;
    max-width: 600px;
    top: -10px;
}


@keyframes groupsSlideDown {
    0% {
        transform: translateY(-253px);
    }
    // 50% {
    //     transform: translateY(4%);
    // }
    // 65% {
    //     transform: translateY(-1%);
    // }
    // 80% {
    //     transform: translateY(1%);
    // }
    // 95% {
    //     transform: translateY(-1%);
    // }
    100% {
        transform: translateY(0%);
    }
}

@-webkit-keyframes groupsSlideDown {
    0% {
        -webkit-transform: translateY(-253px);
    }
    // 50% {
    //     -webkit-transform: translateY(4%);
    // }
    // 65% {
    //     -webkit-transform: translateY(-1%);
    // }
    // 80% {
    //     -webkit-transform: translateY(1%);
    // }
    // 95% {
    //     -webkit-transform: translateY(-1%);
    // }
    100% {
        -webkit-transform: translateY(0%);
    }
}

@keyframes groupsSlideUp {
    0% {
        transform: translateY(253px);
    }
    100% {
        transform: translateY(0%);
    }
}

@-webkit-keyframes groupsSlideUp {
    0% {
        -webkit-transform: translateY(253px);
    }
    100% {
        -webkit-transform: translateY(0%);
    }
}