.slider-element.tasks-area {
    position: relative;
    top: -193px;
    height: calc(100vh - 84px + 255px);

    .items-list {
        
        .reverse {
            display: flex;
            flex-direction: column-reverse;
        }

        overflow-y: scroll;
        overflow-x: hidden;
        height: calc(100% - 600px);

        .custom-card__control-buttons {
            right: 4px;
        }
    }

    &.slideDown {
        top: 0;
        .items-list {
            height: calc(100% - 796px);
        }
    }

    .members-list.form-control,
    .form-control.textarea_heigth {
        resize: none;
        height: 100px;
    }

    &.slideDown {
        animation-name: tasksSlideDown;
        -webkit-animation-name: tasksSlideDown;

        animation-duration: 0.7s;
        -webkit-animation-duration: 0.7s;

        animation-timing-function: ease;
        -webkit-animation-timing-function: ease;

        visibility: visible !important;
    }

    &.slideUp {
        animation-name: tasksSlideUp;
        -webkit-animation-name: tasksSlideUp;

        animation-duration: 0.7s;
        -webkit-animation-duration: 0.7s;

        animation-timing-function: ease;
        -webkit-animation-timing-function: ease;

        visibility: visible !important;
    }

}

.card.card-body.card_custom.group__info {
    min-height: 190px;
}



.task-card.card.card-body,
.card.card-body.card_custom.group__info {
    z-index: 3;
    .card__item_custom {
        margin-bottom: 16px;

        &.task-title {
            margin-bottom: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    .card-title {
        .users {
            width: 20%;
        }
    }
}

.body.card__item_custom {
    width: 100%;
}

.group-header {
    align-items: flex-end;

    .add-task-button {
        background-color: rgb(215, 190, 240);
        border: 1px solid rgba(0, 0, 0, 0.125);
        color: black;
        // position: relative;
        // top: -5px;
        height: 36px;
        &:hover {
            background: rgb(197, 150, 243);
        }

        svg {
            position: relative;
            top: -2px;
        }
    }

    h1 {
        display: inline;
        margin-right: 5px;
        position: relative;
        bottom: -2px;
        margin-bottom: 0;
    }
}



@keyframes tasksSlideUp {
    0% {
        transform: translateY(193px);
    }
    100% {
        transform: translateY(0%);
    }
}

@-webkit-keyframes tasksSlideUp {
    0% {
        -webkit-transform: translateY(193px);
    }
    100% {
        -webkit-transform: translateY(0%);
    }
}

@keyframes tasksSlideDown {
    0% {
        transform: translateY(-193px);
    }
    100% {
        transform: translateY(0%);
    }
}

@-webkit-keyframes tasksSlideDown {
    0% {
        -webkit-transform: translateY(-193px);
    }
    100% {
        -webkit-transform: translateY(0%);
    }
}