.task-card.card.card-body, .card.card-body.card__custom.group_card {



    .card_item__custom {
        margin-bottom: 16px;

        &.task-title {
            margin-bottom: 0;
        }

        &:last-child {
            margin-bottom: 0;
          }
    }

    .card-title {

        .users {
            width: 20%;
        }
    }

}

.body.card_item__custom {
    width: 100%;
}

.group-header {
    align-items: flex-end;

    .add-task-button {
        background-color: rgb(215, 190, 240);
        border: 1px solid rgba(0, 0, 0, 0.125);
        color: black;
        // position: relative;
        // top: -5px;
        height: 36px;
        &:hover {
            background: rgb(197, 150, 243);
        }

        svg {
            position: relative;
            top: -2px;
        }
    }

    h1 {
        display: inline;
        margin-right: 5px;
        position: relative;
        bottom: -2px;
        margin-bottom: 0;
    }
}